*,
html,
body{
    max-width: none;
}


a{
    text-decoration: none;
}

.container1{
    position: absolute;
    width: 100%;
    background: #F1F3FF;

}


@media only screen and (max-width: 570px) {
    .why{
        width: 75%;
    }
    
}